/* Bootstrap overrides
-------------------------------------------------- */

  $body: #000;
  $headings-font-weight: 300 !important;
  $primary: #1b46c2;
  $light: #e8e1e1;
  $headings-font-weight: 300 !important;
  $a: #1392ff;

/* Do not move the imports from here.
Override Bootstrap variables only above.
-------------------------------------------------- */

// Bootstrap

@import '~bootstrap/scss/bootstrap.scss';

@import '~bootstrap/scss/reboot';



.custom-classname.btn-primary {
  background-color: green;
}
/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
 
}

.wrapper {
  min-height: 100vh;
  background-image: url(../img/Background.jpeg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */
.elrond-logo {
  width: 85px;
  height: 25px;
}

.dapp-name {
  line-height: 1;
  // border-left: 1px solid $gray-400;
  padding-left: 3px;
  margin-left: 4px;
}

/* Dashboard
-------------------------------------------------- */
.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0 7px;

  button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {

    .transaction-hash .trim {
      @include media-breakpoint-down(xl) {
        max-width: none;
      }
      @include media-breakpoint-down(lg) {
        max-width: 26rem;
      }
      @include media-breakpoint-down(md) {
        max-width: 12rem;
      }
      @include media-breakpoint-down(sm) {
        max-width: 8rem;
      }
    }

    td, tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}

/* Loader, Transaction success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;

    a {
      color: $black;

      &:hover {
        color: $black;
      }

      #heart {
        height: 16px;
        width: 16px;

        path {
          fill: #c00;
        }
      }
    }
  }
}

/* Coin
-------------------------------------------------- */
.container{
  background-color: transparent;
  // display: flex;
  // // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.container1{
  background-color: rgb(255, 252, 252);
  // border: 1px solid #000;
  width: 500px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 15px 30px 35px rgba(255, 255, 255, 0.3);
  @media (max-width: 550px) {
    width: 400px;
    padding: 30px;
  }
  @media (max-width: 450px) {
    width: 350px;
    padding: 20px;
  }
  @media (max-width: 380px) {
    width: 300px;
    padding: 15px;
  }
  @media (max-width: 380px) {
    width: 270px;
  }
}
.stats{
  text-align: right;
  color: #101020;
  font-weight: 500;
  line-height: 25px;
}
.coin{
  height: 150px;
  width: 150px;
  position: relative;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.coin img{
  width: 145px;
}
.heads,.tails{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

}

.animation-heads{
  animation: spin-heads 3s forwards;
}

.animation-tails{
  animation: spin-tails 3s forwards;
}

.tails{
  transform: rotateX(180deg);
}
@keyframes spin-tails{
  0%{
      transform: rotateX(0);
  }
  100%{
      transform: rotateX(1980deg);
  }
}
@keyframes spin-heads{
  0%{
      transform: rotateX(0);
  }
  100%{
      transform: rotateX(2160deg);
  }
}
.buttons{
  display: flex;
    button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    border: 2.5px solid #424ae0;
    border-radius: 5px;
    cursor: pointer;
  
  }
}

#flip-button{
  background-color: #424ae0;
  border: 2.5px solid #424ae0;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #0c1390;
    border: 2.5px solid #0c1390;
  }
}
#flip-button:disabled{
  background-color: #e1e0ee;
  border-color: #e1e0ee;
  color: #101020;
}
#reset-button{
  background-color: #ffffff;
  color: #424ae0;
}

.betSum{
  display: flex;
  justify-content: space-between;
  button{
      width: 48%;
      border-radius: 5px;
      padding: 5px;
      background-color: transparent;
      border: 2px solid #9d9da1;
      color: #9d9da1;
      font-size: 1.2rem;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      &:hover{
      background-color: #FBB03D;
      color: white;
      border: 2px solid #FBB03D;
      }
  }

}
.betCoin{
  display: flex;
  justify-content: space-between;
  button{
    width: 48%;
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    border: 2px solid #9d9da1;
    color: #9d9da1;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover{
    background-color: #FBB03D;
    color: white;
    border: 2px solid #FBB03D;
    }
  };
}

.alignCenter{
  display: flex;
  justify-content: center;
}

.coinText{
  color:#9d9da1 ;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
}
.dapp-core-ui-component{
  a{
    color: #fff !important;
    background-color: #1b46c2 !important;
    border-color: #1b46c2 !important;
  }
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}



.active-button{
  background-color: #FBB03D !important;
  color: white !important;
  border: 2px solid #FBB03D !important;
} 

.errors{
  color:#c00;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.logout{
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  &:hover{
    text-decoration: none;
    color:#bcb2b2;
  }
}

.dapp-style{
  color: white !important;
  font-size: 1.4rem;
  font-weight: 500;
  &:hover{
    text-decoration: none;
    color:#bcb2b2 !important;
  }
}
// /* Card
// -------------------------------------------------- */

// .card {
//    background-color: transparent;
// }

/* 
-------------------------------------------------- */
